.App {
  text-align: center;
}

.alcremieGif {width: 20%;}
.container {width: 100vw;}

.header {width: 100%;
  font-family: 'Press Start 2P', cursive;
  padding-top: 10px;
font-size: 40pt;
margin-bottom: 10px;
color: #ffffff; 
background-color: #e06464}



.card {border: 10px solid #e8f352;
  background-color: #adadad;
  margin-top: 50px;
height: 340px;
width: 220px;
margin-left:  50px;
margin-right: 50px;
border-radius: 4%;
}

.water {  background-color: #72c4ff;}
.psychic {  background-color: #c746ff}
.electric {  background-color: #fcff46}
.grass {  background-color: #D1F589}
.ghost {  background-color: #621783;}
.ice {  background-color: #9cd1f7;}
.fire {  background-color: #ff2a2a;}
.rocK {background-color: #4e4410;}
.steel {background-color: #c7c2c2;}
.fighting {background-color:  #ff984f}
.fairy {background-color: #ff83ee;}
.dragon {background-color: #988732;}
.darkness {background-color: #24221a;
color: #ffffff;}

.pokeName {text-transform: capitalize;}

.PokeSearch img {height: 50%;
  position: relative;
background-color: #adadad;}

.row {display: flex;
flex-direction: row;
justify-content: center;
width: 100%;}