.App {
  text-align: center;
}

.container {width: 100vw;}

.header {width: 100%;
  font-family: 'Press Start 2P', cursive;
  padding-top: 10px;
font-size: 40pt;
margin-bottom: 10px;
color: #ffffff;
background-color: #e06464}

.card {background-color: #e8f352;
  margin-top: 50px;
height: 300px;
width: 170px;
margin-left:  20px;
border-radius: 4%;
}

.PokeSearch img {min-height: 150px;
  margin-top: 20px;
background-color: #adadad;}

.row {display: flex;
flex-direction: row;
justify-content: center;
width: 100%;}